<?xml version="1.0"?>
<robot name="leg_core" xmlns:xacro="http://www.ros.org/wiki/xacro">


    <!-- Xacro macros -->
    <xacro:include filename="macros/link_macro.urdf.xacro" />

    <!-- Link properties -->
    <xacro:include filename="links/properties/F_properties.urdf.xacro"/>
    <xacro:include filename="links/properties/H_properties.urdf.xacro"/>
    <xacro:include filename="links/properties/LL_properties.urdf.xacro"/>
    <xacro:include filename="links/properties/UL_properties.urdf.xacro"/>

    <!-- Joint properties -->
    <xacro:include filename="joints/properties/M_joint_properties.urdf.xacro"/>
    <xacro:include filename="joints/properties/H_joint_properties.urdf.xacro"/>
    <xacro:include filename="joints/properties/K_joint_properties.urdf.xacro"/>

    <!-- Gazebo -->
    <xacro:include filename="gazebo/gazebo_properties.urdf.xacro" />
    <xacro:include filename="gazebo/meldog_leg_gazebo.urdf.xacro" />

    <!-- ROS2 Control -->
    <xacro:include filename="ros2_control/meldog_leg_gazebo_ros2_control.urdf.xacro"/>

    <!-- LINKS -->
        
        <!-- World link -->
        <link name="world"/> 
        
        <!-- Base link -->  
        <link name="base_link"/>

        <!-- Mount link -->
        <xacro:include filename="links/mount.urdf.xacro" />

        <!-- Left rear leg links -->

            <!-- Left rear hip link -->
            <xacro:include filename="links/hip/H_link.urdf.xacro"/>

            <!-- Left rear upper limb link -->
            <xacro:include filename="links/upper_limb/UL_link.urdf.xacro"/>

            <!-- Left rear lower limb link -->
            <xacro:include filename="links/lower_limb/LL_link.urdf.xacro"/>

            <!-- Left rear foot link -->
            <xacro:include filename="links/foot/F_link.urdf.xacro"/>

    <!-- JOINTS -->
        
        <!-- World joint -->
        <joint name="world_joint" type="fixed">
            <parent link="world"/>
            <child link="base_link"/>
            <origin xyz="0 0 0" rpy="0 0 0"/>
        </joint>

        <!-- Base joint -->
        <joint name="base_joint" type="fixed">
            <parent link="base_link" />
            <child link="mount_link" />
            <origin xyz="0 0 0.6" rpy="0 0 0" />
        </joint>

        <!-- Left rear leg joints -->

            <!-- Left rear Mount joint -->
            <xacro:include filename="joints/mount/M_joint.urdf.xacro"/>
            
            <!-- Left rear hip joint -->
            <xacro:include filename="joints/hip/H_joint.urdf.xacro"/>

            <!-- Left rear knee joint -->
            <xacro:include filename="joints/knee/K_joint.urdf.xacro"/>

            <!-- Left rear foot joint -->
            <xacro:include filename="joints/foot/F_joint.urdf.xacro"/>

</robot>