<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:sensor_macro 
        name="RFS_link" 
        
        m="${sensor_mass}" 
        cm_x="${sensor_cm_x}" 
        cm_y="${sensor_cm_y}" 
        cm_z="${sensor_cm_z}"

        ixx="${sensor_ixx}" ixy="${sensor_ixy}" ixz="${sensor_ixz}" 
                          iyy="${sensor_iyy}" iyz="${sensor_iyz}" 
                                            izz="${sensor_izz}"/>

</robot>