<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- meshes -->
    <xacro:property name="hip_vis_stl_name" value="hip_test.stl" />
    <xacro:property name="hip_coll_stl_name" value="hip_collision.stl" />

    <!-- inertial properties -->

        <!-- mass -->
        <xacro:property name="hip_mass" value="3.607"/>

        <!-- center of mass -->
        <xacro:property name="hip_cm_x" value="125.497"/>
        <xacro:property name="hip_cm_y" value="20.770"/>
        <xacro:property name="hip_cm_z" value="0.248"/>

        <!-- tensor of inertia -->
        <xacro:property name="hip_ixx" value="4660.408"/>
        <xacro:property name="hip_ixy" value="-338.226"/>
        <xacro:property name="hip_ixz" value="0.847"/>

        <xacro:property name="hip_iyy" value="14607.423"/>
        <xacro:property name="hip_iyz" value="49.927"/>

        <xacro:property name="hip_izz" value="13707.172"/>

</robot>