<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <!-- joint properties -->

        <!-- body to limb Joint positions -->

            <!-- leg body upper limb joint -->
            <xacro:property name="hip_upper_limb_x" value="0.174"/>
            <xacro:property name="hip_upper_limb_y" value="0.0925"/>
            <xacro:property name="hip_upper_limb_z" value="0"/>

        <!-- joint movement limits in degrees -->

            <!-- leg body upper limb joint -->
            <xacro:property name="hip_upper_limb_lower_limit" value="-120" />
            <xacro:property name="hip_upper_limb_upper_limit" value="120" />

            <!-- upper limb lower limb joint -->
            <xacro:property name="upper_limb_lower_limb_lower_limit" value="-160" />
            <xacro:property name="upper_limb_lower_limb_upper_limit" value="160" />

            <!-- trunk hip joint -->
            <xacro:property name="trunk_hip_lower_limit" value="-45" />
            <xacro:property name="trunk_hip_upper_limit" value="45" />

        <!-- joint effort limits -->
        <xacro:property name="hip_upper_limb_effort" value="100.0" />
        <xacro:property name="upper_limb_lower_limb_effort" value="100.0" />
        <xacro:property name="trunk_hip_effort" value="100.0" />

        <!-- joint velocity limits -->
        <xacro:property name="hip_upper_limb_velocity" value="100.0" />
        <xacro:property name="upper_limb_lower_limb_velocity" value="100.0" />
        <xacro:property name="trunk_hip_velocity" value="100.0" />

        <xacro:property name="test_damping" value="0"/>
        <xacro:property name="test_friction" value="0"/>

</robot>