<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="ros2_control_macros.urdf.xacro" />
    <xacro:include filename="hardware_properties.urdf.xacro" />
    <xacro:include filename="../joints/properties/H_joint_properties.urdf.xacro" />
    <xacro:include filename="../joints/properties/K_joint_properties.urdf.xacro" />
    <xacro:include filename="../joints/properties/T_joint_properties.urdf.xacro" />

    <ros2_control name="IgnitionSystem" type="system">
        <hardware>
          <plugin>ign_ros2_control/IgnitionSystem</plugin>
        </hardware>

        <!-- joints -->


        <xacro:ros2_control_joint_macro name="LRT" pos_min="${T_lower_limit}" pos_max="${T_upper_limit}" vel_max="${T_velocity}" eff_max="${T_effort}"/>
        <xacro:ros2_control_joint_macro name="LRH" pos_min="${H_lower_limit}" pos_max="${H_upper_limit}" vel_max="${H_velocity}" eff_max="${H_effort}"/>
        <xacro:ros2_control_joint_macro name="LRK" pos_min="${K_lower_limit}" pos_max="${K_upper_limit}" vel_max="${K_velocity}" eff_max="${K_effort}"/>

        


        <xacro:FourBarLinkageTransmission first_joint_name="LRH" second_joint_name="LRK" />

        
    </ros2_control>

    <gazebo>
        <plugin filename="ign_ros2_control-system" name="ign_ros2_control::IgnitionROS2ControlPlugin">
          <!-- <robot_param>robot_description</robot_param>
          <robot_param_node>robot_state_publisher</robot_param_node> -->
          <parameters>$(find meldog_leg_description)/controllers/joint_controller.yaml</parameters>
          <!-- <hold_joints>true</hold_joints> -->
        </plugin>
      </gazebo>

</robot>