<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

    <xacro:include filename="ros2_control_macros.urdf.xacro" />
    <xacro:include filename="../base_properties.urdf.xacro" />

    <ros2_control name="GazeboSimSystem" type="system">
        <hardware>
          <plugin>gz_ros2_control/GazeboSimSystem</plugin>
        </hardware>
        <xacro:ros2_control_joint_macro name="lf_hip_upper_limb_joint" pos_min="${hip_upper_limb_lower_limit}" pos_max="${hip_upper_limb_upper_limit}" />
      </ros2_control>

    <gazebo>
        <plugin filename="libgz_ros2_control-system.so" name="gz_ros2_control::GazeboSimROS2ControlPlugin">
            <robot_param>robot_description</robot_param>
            <robot_param_node>robot_state_publisher</robot_param_node>
            <parameters>$(find meldog_description)/controllers/meldog_controllers.yaml</parameters>
            <hold_joints>true</hold_joints>
            <controller_manager_name>controller_manager</controller_manager_name>
        </plugin>
    </gazebo>

</robot>